/* PrefView Styles             */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */

/* Variables */
$brand-black: rgb(41, 37, 44);
$brand-white: rgb(255, 255, 255);
$brand-dark: rgb(51, 49, 70);
$brand-medium: rgb(54, 72, 94);
$brand-highlight: rgb(214, 233, 236);
$brand-shadow: rgba(0, 0, 0, 0.2);

$border-radius: 4px;

/* PrefView */
.PrefView-Preferences {
  .option {
    height: 50px;
    line-height: 50px;

    margin-bottom: 20px;

    border: 1px solid $brand-highlight;
    border-radius: $border-radius;

    text-align: center;

    cursor: pointer;

    span {
      vertical-align: middle;
      display: inline-block;
    }
  }
}
