.SignInView {
  .rice-signin {
    height: 300px;
    margin-bottom: 20px;
    background-image: url('../../../../assets/rice-signin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
  }
}
