/*.react-rater {
  display: inline-block;
  line-height: normal; }
  .react-rater a {
    cursor: pointer;
    color: #ccc; }
    .react-rater a.will-be-active {
      color: #F5A71B; }
    .react-rater a.is-active {
      color: #F5A71B; }
    .react-rater a.is-disabled {
      color: #ccc;
      cursor: not-allowed; }
  .react-rater.is-disabled a {
    cursor: default; }

*/

$react-rater-link: #ccc !default;
$react-rater-hover: #666 !default;
$react-rater-active: #000 !default;

.react-rater {
  display: inline-block;
  line-height: normal;
  a {
    cursor: pointer;
    color: $react-rater-link;
    &.will-be-active {
      color: $react-rater-hover;
    }
    &.is-active {
      color: $react-rater-active;
    }
    &.is-disabled {
      color: $react-rater-link;
      cursor: not-allowed;
    }
  }
  &.is-disabled {
    a {
      cursor: default;
    }
  }
}